
select
	#GET_COLUMNS_BY_TABLE("tmp"  $commonColumns)
	#GET_COLUMNS($rawAggColumn)
	min(DATETIME_ID) as FIRST_SEEN,
	max(DATETIME_ID) as LAST_SEEN
from
	#REPLACE_VIEW_WITH_TABLES_AND_SPECIFY_COLUMNS($tables "tmp" $filterColumns $extraTable $useTACExclusion)
where
	#GET_COLUMNS_WHERE_BY_TABLE_EXTRA_TABLE_EXTRA_COLUMN("tmp" $joinColumns $extraTable $extraJoin)
group by
	#GET_COLUMNS_BY_TABLE_NO_COMMA_TRAILING("tmp"  $commonColumns)
