##Define some constants that are used by the macros
#DEFINE_CONSTANTS()

select
	#if($count > 0)
		top $count
	#end
	#REPLACE_BY_SUM_STATEMENT_WITH_AGG($listOfErrorColumns $sumErrStatementAlias),
	#REPLACE_BY_SUM_STATEMENT_WITH_AGG($listOfSuccessColumns $sumSucStatementAlias),
	dayname(cast (DATEADD(MINUTE, ${tzOffset}, DATETIME_ID) as DATE)) as DAY
from
	(
    select
    	#CONVERT_TO_IS_NULL_FUNC_STRING($allTableAlias $commonColumns)
    	#IF_NULL_ASSIGN_ZERO($listOfErrorColumns)
		#IF_NULL_ASSIGN_ZERO_NO_COMMA_TRAILING($listOfSuccessColumns)
    from
    	$allTablesQueryPart
	group by
		#GET_COLUMNS($commonColumns)
		#GET_COLUMNS($listOfErrorColumns)
		#GET_COLUMNS_NO_COMMA_TRAILING($listOfSuccessColumns)
	)as summary
	group by
	DAY
	order by 
		DAY