##Define some constants that are used by the macros
#DEFINE_CONSTANTS()

select
	#if($count > 0)
		top $count
	#end
	#REPLACE_BY_SUM_STATEMENT($listOfErrorColumns $sumErrStatementAlias),
    #REPLACE_BY_SUM_STATEMENT($listOfSuccessColumns $sumSucStatementAlias),
	EVENT_ID_DESC || ',' || EVENT_ID as Event_Name
from
	(
    select
    	#CONVERT_TO_IS_NULL_FUNC_STRING($allTableAlias $commonColumns)
    	#GET_COLUMNS_BY_TABLE_WITH_ALIAS($evntDespTable $evntDespColumn)
    	#IF_NULL_ASSIGN_ZERO($listOfErrorColumns)
		#IF_NULL_ASSIGN_ZERO_NO_COMMA_TRAILING($listOfSuccessColumns)
    from
    	$allTablesQueryPart
	group by
		#GET_COLUMNS($commonColumns)
		#GET_COLUMNS($evntDespColumn)
		#GET_COLUMNS($listOfErrorColumns)
		#GET_COLUMNS_NO_COMMA_TRAILING($listOfSuccessColumns)
	)as summary
	order by 
		Event_Name