#DEFINE_CONSTANTS()

#macro(MSS_CCAS_QUERY_BY_CC_AGG $errTable)
(
select	
	ccref.INTERNAL_CAUSE_CODE,
	ccref.INTERNAL_CAUSE_CODE_DESC, 
	sum(NO_OF_ERRORS)
from
	dc.${errTable} errRef,
	dc.DIM_E_MSS_INTERNAL_CAUSE_CODE as ccref
	#GROUP_TABLE_INFO()
where
	#GET_DATETIME_RANGE()
	#MSS_GROUP_OR_SINGLE_INFO()
	#if(!$useAggregationTables)
		and #GET_TAC_EXCLUSION()
	#end
	and errRef.INTERNAL_CAUSE_CODE = ccref.INTERNAL_CAUSE_CODE
	and errRef.INTERNAL_CAUSE_CODE in ($causeCodeIds)
group by
	ccref.INTERNAL_CAUSE_CODE,
	ccref.INTERNAL_CAUSE_CODE_DESC	
)
#end

select
	err.INTERNAL_CAUSE_CODE as INTERNAL_CAUSE_CODE,
    err.INTERNAL_CAUSE_CODE_DESC as INTERNAL_CAUSE_CODE_DESC,
	sum(isnull(err.NO_OF_ERRORS, 0)) as NO_OF_ERRORS
from 
(
	#foreach ($errtable in $rawMssTables)
		#MSS_CCAS_QUERY_BY_CC_AGG($errtable)
		#if($velocityCount < $rawMssTables.size())
			union all
		#end
	#end
) as err (INTERNAL_CAUSE_CODE, INTERNAL_CAUSE_CODE_DESC, NO_OF_ERRORS)	
group by
	err.INTERNAL_CAUSE_CODE,
	err.INTERNAL_CAUSE_CODE_DESC